@model IEnumerable<Product>
<div class="col-sm-3">
	@Html.Partial("_SideBar")
</div>

<div class="col-sm-9 padding-right">
	<div class="features_items">
		<!--features_items-->
		<h2 class="title text-center">Features Items</h2>
		@foreach (var item in Model)
		{


			<div class="col-sm-4">
				<div class="product-image-wrapper">
					<div class="single-products">
						<div class="productinfo text-center">
							<img src="~/Image/@item.Img.UrlImg" alt="" />
							<h2>@item.Price đ</h2>
							<p>@item.Name</p>
							<a asp-action="Details" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-danger add-to-cart" style="background-color:red"><i class="fa fa-shopping-cart"></i>Mua ngay</a>
						</div>
					</div>

				
				</div>
			</div>

		}
	</div><!--features_items-->


</div>