@model TSonCoffee.Models.Invoice

<h4>Chỉnh sửa hóa đơn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditHoaDon">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameShop" class="control-label"></label>
                <input asp-for="NameShop" class="form-control" />
                <span asp-validation-for="NameShop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TemporaryTotalAmount" class="control-label"></label>
                <input asp-for="TemporaryTotalAmount" class="form-control" />
                <span asp-validation-for="TemporaryTotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressId" class="control-label"></label>
                <input asp-for="AddressId" class="form-control" />
                <span asp-validation-for="AddressId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingFee" class="control-label"></label>
                <input asp-for="ShippingFee" class="form-control" />
                <span asp-validation-for="ShippingFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vat" class="control-label"></label>
                <input asp-for="Vat" class="form-control" />
                <span asp-validation-for="Vat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethodId" class="control-label"></label>
                <input asp-for="PaymentMethodId" class="form-control" />
                <span asp-validation-for="PaymentMethodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="QuanLyHoaDon">Back to List</a>
</div>

@* @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} *@
