@model TSonCoffee.Models.Product

<h4>Chỉnh sửa sản phẩm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditSanPham">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ProductTypeId">Loại sản phẩm</label>
                @Html.DropDownListFor(model => model.ProductTypeId,
                         (SelectList)ViewBag.ProductTypes,
                         "Chọn loại sản phẩm",
                         new { @class = "form-control" })
            </div>
            <input type="hidden" asp-for="ImgId" />
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="QuanLySanPham">Back to List</a>
</div>

@* @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} *@
